/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/* Copyright 2024 You */

:root {
  --font-path: '../fonts/';
}

/* Definición de la fuente ClashDisplay */
@font-face {
  font-family: 'ClashDisplay';
  font-style: normal;
  font-weight: 600;
  src: url(var(--font-path)ClashDisplay-Semibold.woff2) format('woff2');
  font-display: swap;
}
