/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * Copyright 2024 You
 */

@font-face {
  font-family: 'ClashDisplay';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-display: swap;
}


